.color{
    background-color: #C6C6C6;
}
.li1 {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bt1 {
    border-radius: 8px;
    font-size: 18px;
    border: 0px;
}

.img {
    border-radius: 50%;
}

table {
    width: 100%;
}

.ha1 {
    border-radius: 25px;
    border: 0px;
    background-color: aqua;
    width: 200px;
}

.ha2 {
    border-radius: 25px;
    border: 0px;
    background-color: cornflowerblue;
    width: 250px;
}

.ha3 {
    border-radius: 25px;
    border: 0px;
    background-color: seagreen;
    width: 250px;
}

.ha4 {
    border-radius: 25px;
    border: 0px;
    background-color: coral;
    width: 150px;
}

.footer {
    justify-content: end;
}

.footer1 {
    justify-content: baseline;
}